/* ==========================================================================
    DIRECCIÓN DE TALENTO
    60048874 ABRAHAM AVILA BALBUENA 29/06/2021
   ========================================================================== */


/*──────────────────────*/
/*    BODY              */
/*──────────────────────*/

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  animation: all ease-in-out;
}


/*──────────────────────*/
/*    HEADER            */
/*──────────────────────*/

header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: -webkit-fill-available;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  border-bottom: 1px solid #a2a2a2;
  background: rgb(252,212,27);
  background: linear-gradient(139deg, rgba(252,212,27,1) 0%, rgba(243,217,43,1) 49%, rgba(242,243,43,1) 100%);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  z-index: 500;
}

header ul {
  text-transform: uppercase;
  font-size: 0.8em;
  position:relative;
  list-style-type: none;
  display: flex;
}

header ul li ul {
  position: absolute;
  display: none;
  top: 37px;
  padding: 0px;
  box-shadow: -2px 2px 4px 1px #525252;
}

header ul li {
  padding: 12px;
  cursor: pointer;
}

header ul li:hover {
  text-decoration: underline;
}

header ul li:hover ul {
  display:block;
  
}

header ul li ul li{
  padding: 10px;
  background-color: #656565;
  color: white;
  border-bottom: 2px dashed #9e9e9e;
  cursor: pointer;
}

header ul li ul li:hover{
  background-color: #888888;
  
}

.h_logo{
  width: 8em;
}

.h_links{
  display: flex;
}

.f_align_c {
  align-self: center;
}

.pad_l_10{
  padding: 0 10px;
}


/*──────────────────────*/
/*    FOOTER            */
/*──────────────────────*/

footer{
  bottom: 0px;
  left: 0px;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  background-color: #9e9e9e;
  overflow: hidden;
  flex-flow: column;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin-top: -5px;
}

footer ul li{
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 4px;
}

footer ul li a{
  color: #656565;
  text-decoration: none!important;
}

footer ul li a:link {
  text-decoration: none!important;
}

footer ul li a:visited {
  background-color: none;
}

footer ul li:hover {
  text-decoration: underline;
  color: #424242 !important;
  cursor: pointer;
}

.foot-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  width: 80%;
}

@media only screen and (min-width: 29.8125rem /* 477px */) {
  .foot-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .foot-main {
    justify-content: space-evenly;
  }
}

.foot-main-item {
  padding: 1.25rem;
}

.foot-title {
  color: rgb(56, 56, 56);
  font-size: 1rem;
  padding-bottom: 0.125rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.legales{
  width: -webkit-fill-available;
  padding: 0.5em 10%;
  color: #e0e0e0;
  background-color: #333;
  font-size: 12px;
}

/*──────────────────────*/
/*    CONTENEDOR        */
/*──────────────────────*/

.contenedor {
  margin-top: 60px;
  flex: 1;
}


/*──────────────────────*/
/*    SECCIONES         */
/*──────────────────────*/


.seccion_carrusel{
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
}

.seccion_imagenes{
  width: 100%;
}


/*──────────────────────*/
/*    GENERALES         */
/*──────────────────────*/
.m-general{
  padding: 0 10%;
}

.fila {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 6%;
}

.colg {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 10%;
}

.maxww{
  max-height: 500px;
}

.cont-elems {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start
}

.elem {
  text-align: center;
  width: 100%;
}

.elem-4 {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.elem-c-img{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 70%;
    padding: 0 6%;
}

.elem-c-img img {
  width: 27vw;
}

.cont-c{
  position: absolute;
    top: 0;
    color: white;
    z-index: 1;
    width: 40%;
    padding: 5% 0 4% 5%;
    text-align: initial;
    Transform: translate(0%, 25%);
}

.tit-c{
  font-size: 4.5vw;
  font-weight: bold;
}

.det-c {
  display: -webkit-inline-box;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
}

.det-c div{
  margin-left: 15px;
}

.red-c {
  font-size: 2.1em;
}

.btn-c {
  background-color: black;
  color: aliceblue;
  border: 2px solid yellow;
  font-size: 14px;
  padding: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

.back-talento{
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
  height: inherit;
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: inherit;
  animation: all ease-in-out;
}
/*──────────────────────*/
/*    GENERALES         */
/*──────────────────────*/

.img-talento{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 200px;
  height: 220px;
  box-shadow: 2px 3px 2px 0px #cacaca;
  cursor: pointer;
  overflow: hidden;
  
}

.img-talento img{
  width: 200px;
  height: 220px;
}

.tit-sec{
  background-color: #9e9e9e;
  text-transform: uppercase;
  padding: 0 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.txt-tal-tit{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.txt-tal-qes{ 
  display: block;
  font-size: 0.83em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.back-bottom{
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 13px;
  margin-top: 15px;
}

.back-redes{
  display: inline-block;
  font-size: 25px;
}

.back-redes div{
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans';
}


.back-info{
  transform: translateY(300px);
}

.img-talento:hover .back-talento{
  animation: showinfo 0.3s ease-in forwards;
}

.sec-linea{
  height: 5px;
  background-color: black;
  margin: 1% 10%;
}

.elem-g{
  display: inline-block;
  width: 100%;
}

.alinea-d div{
  justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
    text-align: initial;
}

.w20{
  width: 20%;
}

/* ==========================================================================
   COLORS
   ========================================================================== */


.bkg-blanco{
  background-color: #fff !important;
}

.bkg-negro{
  background-color: #000 !important;
}

.bkg-r {
    background-color: #E84B5B !important;
}

.bkg-red {
    background-color: #D62739 !important;
}

.red {
    color: #D62739 !important;
}

.bkg-o {
    background-color: #FC6E51 !important;
}

.bkg-orange {
    background-color: #DB391E !important;
}

.bkg-am {
    background-color: #FFDA7C !important;
}

.bkg-amarillo {
    background-color: #FFC136 !important;
}

.bkg-v {
    background-color: #48CFAD !important;
}

.bkg-verde {
    background-color: #19A784 !important;
}

.bkg-az {
    background-color: #4FC1E9 !important;
}

.bkg-azul {
    background-color: #0B9BD0 !important;
}

.bkg-m {
    background-color: #8E7CD1 !important;
}

.bkg-morado {
    background-color: #805ce0 !important;
}

.bkg-gris{
    background-color: #848484 !important;
}

.color-o {
    background-color: #FC6E51 !important;
}

.color-orange {
    background-color: #DB391E !important;
}

.color-amarillo {
    background-color: #FFDA7C !important;
}

.color-anaranjado {
    background-color: #FFC136 !important;
}

.color-verde {
    background-color: #48CFAD !important;
}

.color-verde {
    background-color: #19A784 !important;
}

.color-azul {
    background-color: #4FC1E9 !important;
}

.color-azul {
    background-color: #0B9BD0 !important;
}

.color-m {
    background-color: #8E7CD1 !important;
}

.color-morado {
    background-color: #805ce0 !important;
}

.color-gris{
    background-color: #848484 !important;
}


.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.mt-40{
  margin-top: 40px;
}

.mt-50{
  margin-top: 50px;
}

.mt-60{
  margin-top: 60px;
}

.mt-70{
  margin-top: 70px;
}

.mt-80{
  margin-top: 80px;
}

.mt-90{
  margin-top: 90px;
}

.mt-100{
  margin-top: 100px;
}

/* ==========================================================================
   FORMAS
   ========================================================================== */

#fancy-inputs {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}
#fancy-inputs label.input {
  float: left;
  width: 90%;
  height: 35px;
  margin: 25px 0 0 0;
  position: relative;
  clear: both;
}
#fancy-inputs label.input span {
  width: 90%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  cursor: text;
}
#fancy-inputs label.input span span {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 22px;
  text-indent: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  font-size: 1em;
  text-transform: uppercase;
}
#fancy-inputs label.input span:before {
  content: '';
  width: 0%;
  height: 3px;
  background-color: #2c3e50;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#fancy-inputs label.input span:after {
  content: '';
  width: 0%;
  height: 3px;
  background-color: #2c3e50;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#fancy-inputs input {
  float: left;
  width: 90%;
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-bottom: 3px solid #c0c8d0;
  background-color: transparent;
  position: relative;
  z-index: 99;
}
#fancy-inputs input:focus {
  outline: 0;
}
#fancy-inputs input.white {
  background-color: #e74c3c;
}
#fancy-inputs input:focus + span span {
  cursor: initial;
  position: absolute;
  top: -35px;
  color: #2c3e50;
}
#fancy-inputs input:focus + span:before {
  width: 50%;
}
#fancy-inputs input:focus + span:after {
  width: 50%;
}
#fancy-inputs span.fixed span {
  top: -35px;
}

.btn {
  width: 100%;
    height: 22px;
    line-height: 20px;
    margin: 0 0 20px 0;
    background-color: #2c3e50;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.btn:hover {
  background-color: #374b60;
}

.radio_group {
  position: relative;
  padding: 0;
}
.radio_group input[type="radio"] {
  display: none;
}
.radio_group input[type="radio"] + label span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0.5em;
  line-height: 1.2;
  clear: both;
  padding-left: 1.8em;
}
.radio_group input[type="radio"] + label span:before {
  position: absolute;
  content: "";
  border: 6px solid #c0c8d0;
  background: #c0c8d0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: 0;
  margin-top: -2px;
}

.radio_group input[type="radio"]:checked + label span:before {
  border: 6px solid #22bec6;
  background: #fefffa;
}

.check_box_group {
  position: relative;
  padding: 0;
}
.check_box_group input[type="checkbox"] {
  display: none;
}
.check_box_group input[type="checkbox"] + label span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0.75em;
  line-height: 1.2;
  clear: both;
  padding-left: 1.8em;
}
.check_box_group input[type="checkbox"] + label span:before {
  position: absolute;
  content: " ";
  border: 3px solid #c0c8d0;
  background: #c0c8d0;
  width: 16px;
  height: 16px;
  left: 0;
  margin-top: -2px;
}
.check_box_group input[type="checkbox"] + label span:after {
  position: absolute;
  content: " ";
  width: 16px;
  height: 16px;
  left: 0;
  margin-top: -2px;
}
.check_box_group input[type="checkbox"]:checked + label span:before {
  content: "︎︎ ";
  color: #22bec6;
  background: #22bec6;
  text-align: center;
  border: 3px solid #22bec6;
}
.check_box_group input[type="checkbox"]:checked + label span:after {
  margin-top: 2px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fefffa;
  border-width: 0 2px 2px 0;
}


/* ==========================================================================
   ANIMACIONES
   ========================================================================== */

  @keyframes showinfo {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0px);
    }
}

/* ==========================================================================
   BASE
   ========================================================================== */

html {
  color: #0e0e0e;
  font-size: 1em;
  line-height: 1.4;
  background-color: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
}


::-moz-selection {
  background: #ffeb3b;
  text-shadow: none;
}

::selection {
  background: #ffeb3b;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries 
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

